#container{
    margin: -1vw;
    padding: 0;
}
#fondoo{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vw;
    align-items: center;
}
#titulo{
    width: 60vw;
    color: rgb(255, 255, 255);
    font-size: 10vw;
    position: absolute;
    top: 20vw;
    left: 20vw;
}
button{
    position:absolute;
    top: 40vw;
    left: 43vw;
    width: 15vw;
    height: 4vw;
    border-radius: 5vw;
    background-color: rgb(3, 3, 3);
    font-family:cursive;
    color: white;
    box-shadow: 0 0.5vw 1vw 0vw rgb(231, 73, 15) ;
    border-color: rgb(231, 73, 15);
}
a{
    text-decoration: none;
}
button:hover{
    background-color: rgb(231, 73, 15);
}
#reglas{
    position:absolute;
    top: 2vw;
    left: 3vw; 
    color: white;
}