
#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    font-family:fuente;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#barra{
    font-family:fuentes;
    text-align: center;
    font-size: 4vw;
    width: 100vw;
    height: 4vw;  
    position: absolute;
    top: -0.1vw;
    background-color: rgb(248, 242, 242);
}
#fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    border: 1px solid black;
    height: 30vw;
    background-image: url("../img/fondotablero.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10vw;
    border: 10px solid black;
    box-shadow: 0 0.4vw 0 0.5vw rgb(95, 94, 94);
}
#mostracarta1{
    display: flex;
    flex-direction: row-reverse;
    width: 5vw;
    height: 10vw;
    transform: rotate(-180deg);
    position: absolute;
    top: 30vw;
    left: 43vw;
    
}
#lateral1{
    position: absolute;
    left: 0;
    width: 5vw;
    height: 50vw;
    background-color: rgb(19, 19, 19);
}
#lateral2{
    position: absolute;
    left: 94vw;
    width: 5vw;
    height: 50vw;
    background-color: rgb(19, 19, 19);
}
#mostracarta2{
    display: flex;
    flex-direction: row-reverse;
    width: 5vw;
    height: 10vw;
    transform: rotate(180deg);
    position: absolute;
    top: 10vw;
    left: 43vw;
  
}
#pila{
    text-align: center;
    width: 6vw;
    height: 10vw;
    position: absolute;
    left:25vw ;
    top:20vw;
    color: white;
   
}
#cartita{
    width: 6vw;
    height: 10vw;
}
#cartita1{
    width: 6vw;
    height: 10vw;

}

#sacar{
    width: 6vw;
    height: 4vw;
}
#cartaalreves{
    width: 6vw;
    height: 10vw;
}
#pila2{
    color: white;
    text-align: center;
    width: 6vw;
    height: 10vw;
    position: absolute;
    left:65vw ;
    top:20vw;
    transform: rotate(-180deg);
   
}
#cartaalreves2{
    width: 6vw;
    height: 10vw;
}
#player2{
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 1px solid white;
    left: 8vw;
    top: 6vw;
    color: white;
}
#player2 p{
    color: white;
    text-align: center;
}
#player1{
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 1px solid white;
    left: 80vw;
    top: 35vw;
    color: white;
}
#player1 p{
    color: white;
    text-align: center;
}
#div1{
    border-radius: 2vw;
    width: 20vw;
    height: 20vw;
    z-index: 2;
    backdrop-filter: blur(15px);
    text-align: center;
}
#perder{
  
    color: rgb(0, 0, 0);
    font-size: 1.8vw;
    margin-top: 1vw;
}
#buttom2{
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    position: absolute;
    top: 15vw;
    left: 5vw;
    background-color: rgb(189, 189, 189);
}
#imagen{
    width: 10vw;
    height: 6vw;
    border-radius: 50vw;
}
#carita{
    position: absolute;
    top:6.5vw;
    left: 5vw;
    width: 10vw;
    height: 6vw;
    border-radius: 50vw;
}
#div2{
    text-align: center;
    border-radius: 2vw;
    width: 20vw;
    height: 20vw;
    z-index: 2;
    backdrop-filter: blur(15px);

}
#perder1{
    color: rgb(0, 0, 0);
    font-size: 1.8vw;
    margin-top: 1vw;
}
#buttom3{
    width: 10vw;
    height: 3vw;
    border-radius: 2em;
    position: absolute;
    top: 15vw;
    left: 5vw;
    background-color: rgb(189, 189, 189);
}
#imagen1{
    width: 10vw;
    height: 6vw;
    border-radius: 50vw;
}
#carita1{
    position: absolute;
    top:6.5vw;
    left: 5vw;
    width: 10vw;
    height: 6vw;
    border-radius: 50vw;
}
#div3{
    text-align: center;
    border-radius: 2vw;
    width: 20vw;
    height: 20vw;
    z-index: 2;
    backdrop-filter: blur(15px);

}
#div4{
    text-align: center;
    border-radius: 2vw;
    width: 20vw;
    height: 20vw;
    z-index: 2;
    backdrop-filter: blur(15px);

}